.header-logo-main-form {
	width: 33.3%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-right-big-box {
	display: flex;
	justify-content: flex-end;
}

.header-bottom-box div {
	margin-left: 40px;
	margin-right: 40px;
}

.header-category-btn-mypage-ul {
	display: flex;
	padding-top: 5px;
	flex-direction: column;
}

#header-category-button5:hover .header-category-btn-mypage-div {
	visibility: visible;
	font-weight: 400;
	animation-name: dropdown;
	animation-duration: 0.7s;
	animation-direction: normal;
}

.header-category-btn-mypage-li:hover {
	color: black;
	font-weight: 700;
}

.header-null-form {
	height: 100%;
	width: 33%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header-hbg-btn {
	display: block;
	z-index: 5;
	top: 10px;
	position: fixed;
	left: 15px;
	cursor: pointer;
	transition: left 500ms ease;
}

.header-hbg-btn div {
	width: 30px;
	height: 2px;
	margin-bottom: 8px;
	background-color: #7f8c8d;
	transition: transform 500ms, opacity 500ms, background-color 250ms;
}

.active {
	left: 110px;
}

.active div {
	background-color: rgba(1, 1, 1, 0.7);
}

.active .header-hbg-btn-top {
	transform: translateY(10px) rotate(-135deg);
}

.active .header-hbg-btn-middle {
	opacity: 0;
	transform: rotate(135deg);
}

.active .header-hbg-btn-bottom {
	transform: translateY(-10px) rotate(-45deg);
}

.mobiel-header-bottom-box {
	position: fixed;
	z-index: 4;
	overflow: auto;
	top: 0px;
	left: -150px;
	width: 150px;
	opacity: 1;
	padding: 20px 0px;
	height: 100%;
	color: black;
	transition: all 350ms ease;
}

.hamburger_active {
	left: 0px;
	opacity: 1;
	background-color: #ecf0f1;
}

.header-category-btn {
	position: relative;
}

.header-top-box {
	width: 100%;
	height: 40px;
	display: flex;
	border-bottom: 1px rgb(161, 161, 161) solid;
	background-color: white;
}
.header-bottom-box {
	display: none;
	width: 100%;
	height: 30%;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.header-bottom-box-items {
	position: relative;
	transform: translateY(-50%);
}

.header-bottom-box-items button {
	position: relative;
	cursor: pointer;
	font-size: 1rem;
	padding: 20px 30px;
	transition: all 250ms;
}

.header-bottom-box-items button:hover {
	padding: 20px 45px;
}

.header-logo-sub-form {
	display: none;
}
.header-logo-img {
	display: none;
}
.header-category-btn-mypage-li {
	font-size: 5px;
	text-align: left;
	background-color: white;
}
.header-form {
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 100vw;
	display: block;
}
.header-null-form-big {
	width: 33.3%;
	height: 100%;
}

.login-window-form {
	width: 33.3%;
	height: 100%;
	display: flex;
}

.header-category-btn {
	display: inline-block;
	border: 0;
	background-color: transparent;
	font-size: 1.3vw;
	color: #404552;
	font-weight: bolder;
	padding: 0;
	margin-top: 1.5vh;
	cursor: pointer;
	position: relative;
}

.header-category-btn:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
