.right_box_down_icon {
	/* width: 100vw; */
	display: flex;
	justify-content: center;
	/* background-color: black; */
	opacity: 1;
	padding-bottom: 10%;
}
.down_arrow_icon {
	width: 2vw;
	padding-top: 100px;
	filter: black;
	position: relative;
	animation: fadeInDown 2s infinite;
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -50%, 0);
	}
	to {
		opacity: 1;
		transform: translateZ(0);
	}
}
